<mat-list role="list">
    <mat-list-item role="listitem">
        <a routerLink="">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <span>Home</span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem" appRole="admin">
        <a routerLink="users">
            <mat-icon aria-hidden="false" aria-label="Example people icon">people</mat-icon>
            <span>Users</span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a routerLink="movies">
            <mat-icon aria-hidden="false" aria-label="Example movies icon">movies</mat-icon>
            <span>Movies</span>
        </a>
    </mat-list-item>
  </mat-list>